.rkp-tutorial-heading {
	color: #5e9ca0;
	font-weight: bold;
	text-decoration: underline blue;
}

.rkp-tutorial-text {
	color: #5e9ca0;
}

.rkp-tutorial-text-highlighted {
	background-color: #ffff00;
}

.rkp-tutorial-heading-highlighted {
	background-color: #eee;
}