<div class="w-100 px-3 py-3">

	<table>
		<tr>
			<td class="p-0">
				<h4 class="rkp-tutorial-heading">Why another astrology site?</h4>
				<div class="w-100 px-1 py-1">
					For precise & accurate chart reading, I felt the need of a software
					which can provide :
					<div class="rkp-tutorial-text">
						<ul>
							<li>Holistic horoscope view</li>
							<li>Reduce manual calculation for widely used parameters</li>
						</ul>
					</div>
				</div> <!-- </div> -->
			</td>
			<td class="p-2">
				<div class="w-100 px-1 py-2 border border-warning rounded">
					<ul>
						<li>Placidous house system</li>
						<li>KP based calculation with traditional charts</li>
						<li>KP Horary chart (Horay Number : 1-249)</li>
						<li>Additional features/calculations</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>

	<div id="featuresTutorialDiv">
		<h5 class="rkp-tutorial-heading">Note</h5>

		<div id="noteTutorialBodyDiv" class="rkp-tutorial-text">

			<ul>
				<li>Retrogade planet is represented by <em><strong>"-R"</strong></em>
					suffix with planet abbreviation e.g. retrogade mercury is Me-R
				</li>
				<li><span class="rkp-tutorial-text-highlighted">Calculation
						of Untenanted &amp; Self-starred plantes. represented by <strong>s,
							u</strong> e.g.
				</span>
					<ul>
						<li>Me<sup>s&nbsp;</sup>&rArr; Self starred Mercury
						</li>
						<li>Me<sup>u&nbsp;</sup>&rArr; UnTenanted Mercury
						</li>
						<li>Me<sup>s,u&nbsp;</sup>&rArr; Self starred &amp;
							UnTenanted Mercury
						</li>
					</ul></li>
			</ul>

			<div class="py-2">
				<h5>
					<a href="" class="rkp-accordion-all"> <span
						class="rkp-tutorial-heading"> Features </span>
					</a>
				</h5>
			</div>

			<ul>
				<li>
					<div id="geoTutorialDiv" class="pb-2">
						<a href="" id="geoTutorialHeaderDiv" class="rkp-accordion"
							target-id="geoTutorialBodyDiv"> Geo: </a>
						<div id="geoTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Broad geo atlas of entire world with the manual entry
									options</li>
								<li><span class="rkp-tutorial-text-highlighted">Ability
										to capture local Longitude, Latitude &amp; timezone...</span></li>
								<li>Automatic DST, timezone calculation</li>
							</ul>
						</div>
					</div>
				</li>

				<li>
					<div id="rotationTutorialDiv" class="py-2">
						<a href="" id="rotationTutorialHeaderDiv" class="rkp-accordion"
							target-id="rotationTutorialBodyDiv"> Rotation: </a>
						<div id="rotationTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Rotate chart... rotate everythig.. adjust the
									cusps/planets/destiny matrix tables as well</li>
								<li>Individual divisional (Varga) charts Rotation</li>
							</ul>
						</div>
					</div>
				</li>

				<li>
					<div id="visualCircleChartTutorialDiv"
						class="py-2 rkp-tutorial-text">Visual 360&deg; chart
						depicting cusp length/Rasi overlap and exact location of planet on
						360&deg; horizon.</div>
				</li>

				<li>
					<div id="cuspTableTutorialDiv" class="py-2">
						<a href="" id="cuspTableTutorialHeaderDiv" class="rkp-accordion"
							target-id="cuspTableTutorialBodyDiv"> Cusps Table: </a>
						<div id="cuspTableTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Full details of each cusp:
									<ul>
										<li>All Rasi/Nakshatra with their % length occupied in
											cusp</li>
										<li>Sublord, Sub-sublord &amp; corresponding Badhak cusp</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div id="planetTableTutorialDiv" class="py-2">
						<a href="" id="planetTableTutorialHeaderDiv" class="rkp-accordion"
							target-id="planetTableTutorialBodyDiv">Planets Table: </a>
						<div id="planetTableTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>NakshatraLord [NL], SubLord [SL] &amp; Sub-subLord [SS]</li>
								<li><span class="rkp-tutorial-text-highlighted">Cusp
										point [CP]: Exact position in cusp (value : 0-1) e.g.
										0&nbsp;&rArr; start of cusp, 0.5&nbsp;&rArr; middle of cusp,
										1&nbsp;&rArr; end of cusp</span></li>
								<li>Primary owned cusp by RasiLord [R], NakshatraLord [N],
									SubLord [S] &amp;&nbsp;Sub-subLord [SS]</li>
								<ul>
									<li>Primary&nbsp;&rArr; Rising</li>
								</ul>
								<li>Secondary owned cusp by RasiLord [R] &amp;
									NakshatraLord [N]</li>
								<ul>
									<li>Seconday&nbsp;&rArr; Non-rising</li>
								</ul>
								<li>Badhak cusp&nbsp;&rArr; Planets are badhak to the cusp
									based on occupied cusp [C], owned-rasi [R], nakshatra [N] &amp;
									sublord [S]</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div id="detailedDestinyMatrixTutorialDiv" class="py-2">
						<a href="" id="detailedDestinyMatrixTutorialHeaderDiv"
							class="rkp-accordion"
							target-id="detailedDestinyMatrixTutorialBodyDiv"> Detailed
							Destiny matrix: </a>
						<div id="detailedDestinyMatrixTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Occupied cusp [C], Lord of Rasis [R], Lord of Nakshatra
									[N], Lord of SubLord [S] & Lord of Sub-subLord [SS]</li>
								<li>Planet [PL], NakshatraLord[NL], SubLord[SL] & Sub-subLord [SS]</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div id="dasaTutorialDiv" class="py-2">
						<a href="" id="dasaTutorialHeaderDiv" class="rkp-accordion"
							target-id="dasaTutorialBodyDiv">Dasa: </a>
						<div id="dasaTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>MahaDasa, AntarDasa, Pratyantar &amp; Sookshma</li>
								<li><span class="rkp-tutorial-text-highlighted">Transitory
										(Gochar) position at the time of Dasa start at all level </span></li>
								<li><span class="rkp-tutorial-text-highlighted">Detailed
										transit (Gochar) calculation based on horoscope</span></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script>
		initializeAccordians("featuresTutorialDiv", "rkp-tutorial");
	</script>
</div>