<div class="w-100 px-3 py-3">

	<table>
		<tr>
			<td class="p-0">
				<h4>
					<span style="color: #ffcc00;"><strong>Why another
							astrology site? </strong></span>
				</h4>
				<div class="w-100 px-1 py-1">
					For precise & accurate chart reading, I felt the need of a software
					which can provide :
					<ul>
						<li class="rkp-tutorial-text">Holistic horoscope view</li>
						<li class="rkp-tutorial-text">Reduce manual calculation for
							widely used parameters</li>
					</ul>
				</div> <!-- </div> -->
			</td>
			<td class="p-2">
				<div class="w-100 px-1 py-2 border border-warning rounded">
					<ul>
						<li>Placidous house system</li>
						<li>KP based calculation with traditional charts</li>
						<li>KP Horary chart (Horay Number : 1-249)</li>
						<li>Additional features/calculations</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>

	<div id="featuresTutorialDiv">
		<h5>
			<span style="color: #ffcc00;"><strong>Note</strong><span
				style="font-size: 14px;">&nbsp;</span></span>
		</h5>

		<div id="noteTutorialBodyDiv" class="rkp-tutorial-text">

			<ul>
				<li>Retrogade planet is represented by <em><strong>"-R"</strong></em>
					suffix with planet abbreviation e.g. retrogade mercury is
					Me-R&nbsp;.
				</li>
				<li><span class="rkp-tutorial-text-highlighted">Calculation
						of Untenanted &amp; Self-starred plantes. represented by <strong>s,
							u</strong> e.g.
				</span>
					<ul>
						<li>Me<sup>s&nbsp;</sup>&rArr; Self starred Mercury
						</li>
						<li>Me<sup>u&nbsp;</sup>&rArr; UnTenanted Mercury
						</li>
						<li>Me<sup>s,u&nbsp;</sup>&rArr; Self starred &amp;
							UnTenanted Mercury
						</li>
					</ul></li>
			</ul>

			<h5>
				<span style="color: #ffcc00;"><strong>Features</strong><span
					style="font-size: 14px;">&nbsp;</span></span>
			</h5>
			<ul>
				<li>
					<div id="geoTutorialDiv" class="pb-2">
						<a href="" id="geoTutorialHeaderDiv" class="rkp-accordion"
							target-id="geoTutorialBodyDiv"> <span
							class="rkp-tutorial-heading">Geo:</span>
						</a>
						<div id="geoTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Broad geo atlas of entire world with the manual entry
									options</li>
								<li><span class="rkp-tutorial-text-highlighted">Ability
										to capture local Longitude, Latitude &amp; timezone...</span></li>
								<li>Automatic DST, timezone calculation</li>
							</ul>
						</div>
					</div>
				</li>

				<li>
					<div id="rotationTutorialDiv" class="py-2">
						<a href="" id="rotationTutorialHeaderDiv" class="rkp-accordion"
							target-id="rotationTutorialBodyDiv"> <span
							class="rkp-tutorial-heading">Rotation:</span>
						</a>
						<div id="rotationTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Rotate chart... rotate everythig.. adjust the
									cusps/planets/destiny matrix tables as well</li>
								<li>Individual divisional (Varga) charts Rotation</li>
							</ul>
						</div>
					</div>
				</li>

				<li>
					<div id="visualCircleChartTutorialDiv" class="py-2">
						<span class="rkp-tutorial-heading">Visual 360&deg; chart
							depicting cusp length/Rasi overlap and exact location of planet
							on 360&deg; horizon.</span>
					</div>
				</li>

				<li>
					<div id="cuspTableTutorialDiv" class="py-2">
						<a href="" id="cuspTableTutorialHeaderDiv" class="rkp-accordion"
							target-id="cuspTableTutorialBodyDiv"> <span
							class="rkp-tutorial-heading">Cusps Table:</span>
						</a>
						<div id="cuspTableTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Full details of each cusp:
									<ul>
										<li>All Rasi/Nakshatra with their % length occupied in
											cusp</li>
										<li>Sublord, Sub-sublord &amp; corresponding Badhak cusp</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div id="planetTableTutorialDiv" class="py-2">
						<a href="" id="planetTableTutorialHeaderDiv" class="rkp-accordion"
							target-id="planetTableTutorialBodyDiv"> <span
							class="rkp-tutorial-heading">Planets Table:</span>
						</a>
						<div id="planetTableTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>NakshatraLord [NL], SubLord [SL] &amp; Sub-subLord [SS]</li>
								<li><span
									style="color: #5e9ca0; background-color: #ffff00;">Cusp
										point [CP]: Exact position in cusp (value : 0-1) e.g.
										0&nbsp;&rArr; start of cusp, 0.5&nbsp;&rArr; middle of cusp,
										1&nbsp;&rArr; end of cusp</span></li>
								<li>Primary owned cusp by RasiLord [R], NakshatraLord [N],
									SubLord[S] &amp;&nbsp;&nbsp;Sub-subLord [SS]</li>
								<ul>
									<li><span class="rkp-tutorial-text">Primary&nbsp;&rArr;
											Rising</span></li>
								</ul>
								<li><span class="rkp-tutorial-text">Secondary owned
										cusp by RasiLord [R] &amp; NakshatraLord [N]</span></li>
								<ul>
									<li><span class="rkp-tutorial-text">Seconday&nbsp;&rArr;
											Non-rising</span></li>
								</ul>
								<li><span class="rkp-tutorial-text">Badhak
										cusp&nbsp;&rArr; Planets are badhak to the cusp based on
										occupied cusp[C], owned-rasi[R], nakshatra[N] &amp; sublord[S]</span></li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div id="detailedDestinyMatrixTutorialDiv" class="py-2">
						<a href="" id="detailedDestinyMatrixTutorialHeaderDiv"
							class="rkp-accordion"
							target-id="detailedDestinyMatrixTutorialBodyDiv"> <span
							class="rkp-tutorial-heading">Detailed Destiny matrix:</span>
						</a>
						<div id="detailedDestinyMatrixTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>Occupied cusp[C], Lord of Rasis [R], Lord of Nakshatra
									[N], Lord of SubLord [S], Lord of Sub-subLord [SS]</li>
								<li>Planet[PL], NakshatraLord[NL], SubLord[SL],
									NakshatraLord of SubLord [SN]</li>
							</ul>
						</div>
					</div>
				</li>
				<li>
					<div id="dasaTutorialDiv" class="py-2">
						<a href="" id="dasaTutorialHeaderDiv" class="rkp-accordion"
							target-id="dasaTutorialBodyDiv"> <span
							class="rkp-tutorial-heading">Dasa:</span>
						</a>
						<div id="dasaTutorialBodyDiv"
							class="border border-warning rounded rkp-tutorial-text">
							<ul>
								<li>MahaDasa, AntarDasa, Pratyantar &amp; Sookshma</li>
								<li><span class="rkp-tutorial-text-highlighted">Transitory
										(Gochar) position at the time of Dasa start at all level </span></li>
								<li><span class="rkp-tutorial-text-highlighted">Detailed
										transit (Gochar) calculation based on horoscope</span></li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<script>
		initializeAccordians("featuresTutorialDiv", "rkp-tutorial");
	</script>
</div>