<div id="birthChartTopLevelDiv" class="px-0">
	<div class="w-100 py-1">
		<div class="w-100" id="birthChartFormDiv-Outer">
			<button class="rkp-accordion" target-id="birthChartFormDiv"
				target-initial-display="show">
				<strong>Create/Edit Horoscope</strong>
			</button>
			<div id="birthChartFormDiv" class="py-2 m-0 px-0">
				<div class="px-2 py-1">
					<div class="px-2 py-1">
						<span> <input type="file" valid-file
							upload="readBirthChartParametersFile(file)" ng-model="file"
							class="btn btn-outline-secondary" />
						</span> <span class="px-1">
							<button type="submit" ng-click="saveBirthChartFile()"
								class="btn btn-secondary btn-md">Save</button>
						</span> <span class="p-0 m-0"> <input type="checkbox"
							id="fileDownloadCheckbox" ng-model="fileDownloadCheck"> <label
							for="fileDownloadCheckbox">Download as Jhora file</label>
						</span>

					</div>
					<div class="px-2 py-1">
						<div id="birthChartFormFieldsDiv"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="w-100 py-1">
		<div class="w-100 h-100" id="rkp_charts-Outer">
			<button class="rkp-accordion" target-id="rkp_charts">
				<strong>Horoscope</strong>
			</button>
			<div id="rkp_charts" class="rkp_charts px-3 py-1">
				<div class="w-100 py-1">
					<div class="w-100 border border-info py-1 px-0">
						<div id="birthChartPanchangDetailDiv"
							class="birthChartPanchangDetailDiv" />
					</div>
				</div>
				<div class="w-100 py-1">
					<div class="w-100 border border-info py-1 px-0">
						<div id="birthChartRotationDiv" class="birthChartRotationDiv" />
					</div>
				</div>
				<div class="w-100 py-1">
					<div class="w-100 h-100 py-0" id="kp_charts-Outer">
						<button class="rkp-accordion" target-id="kp_charts">
							<strong>Main Charts</strong>
						</button>
						<div id="kp_charts" class="kp_charts" />
					</div>
				</div>
				<div class="w-100 py-1">
					<div class="w-100 p-0 m-0" id="divisional_charts-Outer">
						<button class="rkp-accordion" target-id="divisional_charts">
							<strong>Divisional(Varga) Charts</strong>
						</button>
						<div id="divisional_charts"
							class="divisional_charts overflow-auto" />
					</div>
				</div>
				<div class="w-100 py-1">
					<div class="w-100" id="dmatrix_data-Outer">
						<button class="rkp-accordion" target-id="dmatrix_data">
							<strong>Destiny Matrix</strong>
						</button>
						<div id="dmatrix_data" class="dmatrix_data" />
					</div>
				</div>

				<div class="w-100 py-1">
					<div class="w-100" id="birthChartDasa-Outer">
						<button class="rkp-accordion" target-id="birthChartDasa">
							<strong>Vimsottari Dasa</strong>
						</button>
						<div id="birthChartDasa" class="overflow-auto">
							<table class="align-top m-0 p-1 float-left w-100">
								<tr>
									<td class="border">
										<table>
											<tr>
												<div class="align-top mr-1 float-left p-0 w-30">
													<div id="mahadasas_data" class="mahadasas_data" />
												</div>
												<div class="align-top mr-1 float-left p-0 w-10">
													&nbsp;</div>

												<div class="align-top ml-1 float-left w-60">
													<div id="internaldasas_data" class="internaldasas_data" />
												</div>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="m-0 p-0" id="transitChartTopLevelDiv">
	<div class="w-100 py-0" id="transitChart-Outer">
		<button class="rkp-accordion" target-id="transitChart"
			target-initial-display="show">
			<strong>Transit(Gochar)</strong>
		</button>
		<div class="px-3 py-0" id="transitChart">
			<div class="w-100 py-1">
				<div class="w-100" id="transitChartFormDiv-Outer">
					<button class="rkp-accordion" target-id="transitChartFormDiv"
						target-initial-display="show">{{horoscopeCreated ? 'Get
						Transit for Your Horoscope' : 'Get Planetary Positions'}}</button>
					<div class="w-100 m-0 px-3 py-3" id="transitChartFormDiv">
						<div id="transitFormFields"></div>
					</div>
				</div>
			</div>
			<div class="w-100 py-1">
				<div class="w-100" id="transit_data-Outer">
					<button class="rkp-accordion" target-id="transit_data">Transit
						Data : {{transit.dateToDisplay ? transit.dateToDisplay : ''}}</button>
					<div id="transit_data" class="transit_data" />
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	initializeAccordians("birthChartTopLevelDiv", "chart-page");
	initializeAccordians("transitChartTopLevelDiv", "chart-page");
</script>
<div class="w-100 py-1"></div>




